@{
    ViewData["Title"] = "Home Page";
}




<body>
    <main>
        <div>
            <header>
                <div>
                    <nav class="navigation">
                        <a href="#b314416" class="">
                            <img class="image" src="C:\Users\qwe\Pictures\Screenshot 2024-03-31 192029" alt="" data-header-fix-moment-exclude="d-block" data-header-fix-moment-classes="d-none" srcset="" data-fileid="1846" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;#&quot;,&quot;target&quot;:&quot;_blank&quot;,&quot;enabled&quot;:false}" data-lazy-img="Y" data-src="https://cdn-ru.bitrix24.ru/b27091018/landing/02a/02a1b7c34b570b711a4843255cd96c87/oenjz4f0lly_1x_png" loading="lazy" />
                        </a>
                            <ul>
                                <li><a href="">Главная</a></li>
                                <li><a href="">Рейтинг по отзывам</a></li>
                                <li><a href="">Рейтинг по REAX</a></li>
                                <li><a href="">Профориентация</a></li>
                                <li><a href="">Вебинары</a></li>
                                <li><a href="">Калькулятор ЕГЭ</a></li>
                                <li><a href="">Сравнение ВУЗов</a></li>
                                <li><a href="">Гайды</a></li>
                                <li><a href="">Дни открытых дверей</a></li>
                                <li><a href="">Личный кабинет</a></li>
                            </ul>
                    </nav>
                </div>
            </header>
        </div>

        <div class="Content">
            <section>
                <div>
                    <div class="Kuda_top">
                        <h3>
                            <p class="Kuda_top_text">
                                <span>
                                    КудаПоступим.ру
                                </span>
                            </p>
                        </h3>
                    </div>
                    <div class="Kuda_bott">
                        <div>
                            <p class="Kuda_bott_upper_text">
                                <span>
                                    Выберите университет своей мечты по отзывам от реальных студентов!
                                </span>
                            </p>
                        </div>
                        <div>
                            <a class="Kuda_bott_lower_text">
                                КудаПоступим.ру — идеальное средство для студентов, которые стремятся найти лучшую образовательную программу, соответствующую их амбициям и потребностям
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="bottom_section">
            <section>
                <div>
                    <p class="bottom_section_text">
                        КудаПоступим.ру - твой помощник в выборе университета мечты! Сравнивай,
                    <span style="color: rgb(0, 32, 81);">анализируй</span>
                        , принимай решение.
                    </p>
                </div>
            </section>
        </div>


                <div class="filterDiv trud hard useful staz fun dost">
                    <div class="university-card">
                        <div class="university-image">
                            <img src="https://via.placeholder.com/150" alt="Итмо">
                            <div class="tuition-fee">от 44 000 ₽/семестр</div>
                        </div>
                        <div class="university-info">
                            <div class="location">Санкт-Петербург</div>
                            <div class="university-name">Университет ИТМО</div>
                            <div class="university-rating">№14 в рейтинге по RAEX</div>
                            <button class="reviews-button">Отзывы</button>
                            <div class="scores">
                                <div class="score">от <span>74</span> бал. бюджет</div>
                                <div class="score">от <span>65</span> бал. платно</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filterDiv obshaga useful staz prepod fun dop dost vremya">
                    <div class="university-card">
                        <div class="university-image">
                            <img src="https://via.placeholder.com/150" alt="Итмо">
                            <div class="tuition-fee">от 44 000 ₽/семестр</div>
                        </div>
                        <div class="university-info">
                            <div class="location">Москва</div>
                            <div class="university-name">Российский университет дружбы народов</div>
                            <div class="university-rating">№19 в рейтинге по RAEX</div>
                            <button class="reviews-button">Отзывы</button>
                            <div class="scores">
                                <div class="score">от <span>61</span> бал. бюджет</div>
                                <div class="score">от <span>33</span> бал. платно</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="filterDiv obshaga trud hard voen useful staz prepod fun dop">
                    <div class="university-card">
                        <div class="university-image">
                            <img src="https://via.placeholder.com/150" alt="Итмо">
                            <div class="tuition-fee">от 44 000 ₽/семестр</div>
                        </div>
                        <div class="university-info">
                            <div class="location">Санкт-Петербург</div>
                            <div class="university-name">Санкт-Петербургски государственный уневиреситет</div>
                            <div class="university-rating">№3 в рейтинге по RAEX</div>
                            <button class="reviews-button">Отзывы</button>
                            <div class="scores">
                                <div class="score">от <span>85</span> бал. бюджет</div>
                                <div class="score">от <span>51</span> бал. платно</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div id="myBtnContainer" >
                <h2 class="header">Параметры выбора</h2>
                <button class="btn active" data-filter="all" onclick="filterSelection('all')">Показать все</button>
                <button class="btn" data-filter="obshaga" onclick="filterSelection('obshaga')"> Общежитие</button>
                <button class="btn" data-filter="trud" onclick="filterSelection('trud')"> Привлекательность при трудоустройстве</button>
                <button class="btn" data-filter="hard" onclick="filterSelection('hard')"> Сложность обучения</button>
                <button class="btn" data-filter="voen" onclick="filterSelection('voen')"> Военная кафедра</button>
                <button class="btn" data-filter="useful" onclick="filterSelection('useful')"> Полезность предметов для дальнейшей жизни</button>
                <button class="btn" data-filter="staz" onclick="filterSelection('staz')"> Стажировка</button>
                <button class="btn" data-filter="prepod" onclick="filterSelection('prepod')"> Преподавательский состав</button>
                <button class="btn" data-filter="fun" onclick="filterSelection('fun')"> Развлечения</button>
                <button class="btn" data-filter="dop" onclick="filterSelection('dop')"> Доп. образование\курсы</button>
                <button class="btn" data-filter="dost" onclick="filterSelection('dost')"> Транспортная доступность</button>
                <button class="btn" data-filter="vremya" onclick="filterSelection('vremya')"> Наличие пространства для свободного времяпрепровождения</button>
                <button class="btn" data-filter="eat" onclick="filterSelection('eat')"> Столовая</button>
                <button class="btn" data-filter="udobno" onclick="filterSelection('udobno')"> Удобность ссайта ВУЗа</button>
                <button class="btn" data-filter="security" onclick="filterSelection('security')"> Безопастность</button>
                <button class="btn" data-filter="lifehacks" onclick="filterSelection('lifehacks')"> Фишки ВУЗа</button>
            </div>

        </div>
    </main>
                

    <div class="footer">
        <section>
                <div class="row">
                    <div class="contacts">
                        <h2>
                            НАШИ КОНТАКТЫ
                        </h2>
                            <address>
                                <span>
                                    Для прессы:
                                </span>
                                <a href="#">
                                    kudapostupim_press
                                </a>
                            </address>
                    </div>
                    <div class="info">
                        <h2>
                            ИНФОРМАЦИЯ
                        </h2>
                        <ul>
                            <li>
                                <a href="#">О САЙТЕ</a>
                            </li>
                            <li>
                                <a href="#">ВУЗАМ</a>
                            </li>
                            <li>
                                <a href="#">ЦЕЛЕВОЙ АУДИТОРИИ</a>
                            </li>
                            <li>
                                <a href="#">РЕКЛАМОДАТЕЛЯМ</a>
                            </li>
                        </ul>

                    </div>
                    <div clas="active">
                        <h2>АКТИВНОСТИ</h2>
                        <ul>
                            <li><a href="#">РЕЙТИНГ ПО ОТЗЫВАМ</a></li>
                            <li><a href="#">РЕЙТИНГ RAEX</a></li>
                            <li><a href="#">КАЛЬКУЛЯТОР ЕГЭ</a></li>
                            <li><a href="#">ПРОФОРИЕНТАЦИЯ</a></li>
                            <li><a href="#">ВЕБИНАРЫ</a></li>
                            <li><a href="#">ГАЙДЫ</a></li>
                            <li><a href="#">ДНИ ОТКРЫТЫХ ДВЕРЕЙ</a></li>
                        </ul>
                    </div>
                    <div class="more">
                        <h2>ДОПОЛНИТЕЛЬНО</h2>
                        <ul>
                            <li><a href="#">ДОБАВИТЬ ВУЗ</a></li>
                            <li><a href="#">НАШИ ПАРТНЁРЫ</a></li>
                            <li><a href="#">ОБРАТНАЯ СВЯЗЬ</a></li>
                            <li><a href="#">ЛИЧНЫЙ КАБИНЕТ</a></li>
                            <li><a href="#">УДАЛИТЬ АККАУНТ</a></li>
                        </ul>
                    </div>

                </div>
            
        </section>
        <div class="feedback-widget">
            <button class="toggle-btn">Напишите нам</button>
            <div class="feedback-form">
                <h2>Обратная связь</h2>
                <form>
                    <input type="text" placeholder="ФИО" required>
                    <input type="email" placeholder="Email" required>
                    <textarea placeholder="Комментарий" required></textarea>
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </div>

        <script src="script.js"></script>

        <div>
            <p>
                © 2023, KUDAPOSTUPIM.RU
            </p>
        </div>
    </div>


    <script>
        
    </script>
</body>
