@{
    ViewData["Title"] = "Личный кабинет";
}

<div>
    <header>
        <div>
            <nav class="navigation">
                <a href="#b314416" class="">
                    <img class="image" src="C:\Users\qwe\Pictures\Screenshot 2024-03-31 192029" alt="" data-header-fix-moment-exclude="d-block" data-header-fix-moment-classes="d-none" srcset="" data-fileid="1846" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;#&quot;,&quot;target&quot;:&quot;_blank&quot;,&quot;enabled&quot;:false}" data-lazy-img="Y" data-src="https://cdn-ru.bitrix24.ru/b27091018/landing/02a/02a1b7c34b570b711a4843255cd96c87/oenjz4f0lly_1x_png" loading="lazy" />
                </a>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><a href="">Рейтинг по отзывам</a></li>
                    <li><a asp-controller="Home" asp-action="newpage">Рейтинг по REAX</a></li>
                    <li><a href="">Профориентация</a></li>
                    <li><a href="">Вебинары</a></li>
                    <li><a href="">Калькулятор ЕГЭ</a></li>
                    <li><a href="">Сравнение ВУЗов</a></li>
                    <li><a href="">Гайды</a></li>
                    <li><a href="">Дни открытых дверей</a></li>
                    <li><a asp-controller="Home" asp-action="Kabinet">Личный кабинет</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>

<section style="    margin-top: 5%;
    padding-top: 0;">

    <div class="container">
        <div class="registration">
            <h2>Регистрация</h2>
            <p>Уже есть личный кабинет? <a href="#">Войти</a></p>

            <button class="social-btn vk">
                <img src="vk-logo.png" alt="VK"> Продолжить с VK ID
            </button>
            <button class="social-btn yandex">
                <img src="yandex-logo.png" alt="Yandex"> Продолжить с Яндекс ID
            </button>
            <button class="social-btn email">
                <img src="email-icon.png" alt="Email"> Продолжить через почту
            </button>

            <p class="terms">
                Нажимая кнопку, вы принимаете <a href="#">Пользовательское соглашение</a> и <a href="#">Политику конфиденциальности</a>
                и даете согласие на обработку персональных данных.
            </p>
        </div>

        <div class="info">
            <img src="illustration.png" alt="Иллюстрация" class="illustration">
            <p>Зачем нужен личный кабинет на КудаПоступим.Ру:</p>
            <h3>Бесплатный доступ к отзывам, вебинарам и другим активностям</h3>
            <p>А также связывайтесь со студентами из ВУЗов, в которые планируете поступить</p>
        </div>
    </div>


