@{
    ViewData["Title"] = "Рейтинг RAEX";
}

<div>
    <header>
        <div>
            <nav class="navigation">
                <a href="#b314416" class="">
                    <img class="image" src="C:\Users\qwe\Pictures\Screenshot 2024-03-31 192029" alt="" data-header-fix-moment-exclude="d-block" data-header-fix-moment-classes="d-none" srcset="" data-fileid="1846" data-pseudo-url="{&quot;text&quot;:&quot;&quot;,&quot;href&quot;:&quot;#&quot;,&quot;target&quot;:&quot;_blank&quot;,&quot;enabled&quot;:false}" data-lazy-img="Y" data-src="https://cdn-ru.bitrix24.ru/b27091018/landing/02a/02a1b7c34b570b711a4843255cd96c87/oenjz4f0lly_1x_png" loading="lazy" />
                </a>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><a href="">Рейтинг по отзывам</a></li>
                    <li><a asp-controller="Home" asp-action="newpage">Рейтинг по REAX</a></li>
                    <li><a href="">Профориентация</a></li>
                    <li><a href="">Вебинары</a></li>
                    <li><a href="">Калькулятор ЕГЭ</a></li>
                    <li><a href="">Сравнение ВУЗов</a></li>
                    <li><a href="">Гайды</a></li>
                    <li><a href="">Дни открытых дверей</a></li>
                    <li><a asp-controller="Home" asp-action="Kabinet">Личный кабинет</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>

<section style="    margin-top: 5%;
    padding-top: 0;">

    <h2>Рейтинг лучших вузов России RAEX-100, 2023 год</h2>
    <p>
        Рейтинговое агентство RAEX («РАЭКС-Аналитика») подготовило двенадцатый рейтинг 100 лучших вузов России.
        Ежегодный рейтинг лучших вузов России RAEX-100 зафиксировал усиление позиций медицинских, педагогических и сельскохозяйственных вузов.
    </p>
    <nav>
        <ul>
            <li><a href="#" class="choose_RAEX">Рейтинг</a></li>
            <li><a href="#" class="choose_RAEX">Мнения рынка</a></li>
            <li><a href="#" class="choose_RAEX">Аналитика</a></li>
            <li><a href="#" class="choose_RAEX">Методика</a></li>
        </ul>
    </nav>

    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Место, 2022 год</th>
                <th>Рейтинговый функционал (балл)</th>
                <th>Условия для получения качественного образования, ранг</th>
                <th>Уровень востребованности выпускников работодателями, ранг</th>
                <th>Уровень научно-исследовательской деятельности, ранг</th>
            </tr>
        </thead>


        <tbody>
            <tr>
                <td>1</td>
                <td><img src="msu-logo.png" alt="логотип МГУ"> Московский государственный университет имени М.В. Ломоносова</td>
                <td>1</td>
                <td>4.7608</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>


        <tbody>
            <tr>
                <td>2</td>
                <td><img src="msu-logo.png" alt="логотип МФТИ"> Московский физико-технический институт</td>
                <td>2</td>
                <td>4.6507</td>
                <td>3</td>
                <td>9</td>
                <td>2</td>
            </tr>
        </tbody>


        <tbody>
            <tr>
                <td>3</td>
                <td><img src="msu-logo.png" alt="логотип СПГУ"> Санкт-Петербургский государственный университет</td>
                <td>3</td>
                <td>4.5631</td>
                <td>4</td>
                <td>7</td>
                <td>11</td>
            </tr>
        </tbody>
    </table>



    </table>

</section>


